html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  display: block;
  font-family: 'Ubuntu', sans-serif;
}

input, button, textarea, select {
  font-family: 'Ubuntu', sans-serif;
}